 
.hero-area {
   position: relative;
}
@media (max-width: 250px) {
  .hero-area {
    padding: 250px 0 150px;
    overflow: hidden;
  }
}
.hero-area h1 {
  position: relative;
  z-index: -1;
}

.layer {
  position: absolute;
  z-index: -1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 10px;
  right: -55px;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}
 