/*-----------------------------------*\
  #style.css – Main stylesheet
  Imports: variables → reset → common → tab sections → responsive
  copyright 2026 @TG
\*-----------------------------------*/

@import "variables.css";
@import "reset.css";
@import "common.css";
@import "about.css";
@import "resume.css";
@import "portfolio.css";
@import "blog.css";
@import "contact.css";
@import "responsive.css";
